- title "Reglas de Presentación"
- show_actions!

%p Para enviar su propuesta, debe crear una cuenta en el sistema de propuestas y completar el formulario con la información sobre su propuesta. Hasta la fecha límite para el envío de las mismas, podrá editar su perfil, crear sesiones y editar las propuestas existentes de las cuales es uno de los autores. Puede enviar tantas propuestas como desée, pero <strong>solo una propuesta por autor será aceptada</strong> en el programa final. No es posible eliminar las propuestas enviadas.

%p Recuerde que también podrá leer aquellas propuestas que han enviado otros usuarios, así como ellos podrán leer las enviadas por Ud., aun después de la fecha límite para el envío de propuestas.

%p La propuesta será revisada y evaluada por al menos 3 miembros del comité de revisión. Para esto, ellos considerarán:

%ul
  %li La experiencia del autor - considerando tanto la mini biografía presentada en #{user_signed_in? ? link_to("tu perfil", user_path(current_user)) : "tu perfil"} como también el campo sobre la experiencia respecto del tema de tu propuesta;
  %li Adecuación de la propuesta con respecto al #{link_to "track tématicos", tracks_path}, #{link_to "tipo de sesión", session_types_path}, #{link_to "perfil y tipo de público", audience_levels_path} seleccionados;
  %li Relevancia para con el evento;
  %li Claridad y calidad del material escrito.

%p Los autores de las sesiones seleccionadas para formar parte del programa serán notificados por email luego del periodo de revisión. Luego de la notificación, el autor principal tendrá una fecha límite para registrarse a la conferencia. En el caso de que el autor principal no se registre antes de dicha fecha, su sesión será removida del programa.

%p Fechas importantes:

%ul
  %li #{l(ImportantDates::SUBMISSION_START_DATE)}: Apertura del formulario de envío de propuestas
  %li #{l(ImportantDates::SUBMISSION_END_DATE)}: Fecha límite para proponer sesiones
  %li
    %strong #{l(ImportantDates::ACCEPTANCE_NOTIFICATION_DATE)}: Notificación de aceptación a autores seleccionados
  %li #{l(ImportantDates::AUTHORS_INSCRIPTION_END_DATE)}: Fecha límite para la inscripción de los autores seleccionados