- title "Trabajos de #{current_conference.name}"
- show_actions!
.auto_focus

#{current_conference.description_es.html_safe}

%p Envía tus propuestas y vení a participar en #{current_conference.location}! Lee atentamente la #{link_to(t('title.guidelines'), static_page_path('guidelines'))}, escribí tu propuesta y enviala. Para hacerlo, solo tenes que ingresar tu usuario y password, hace click en '#{t('actions.submit_session')}' y llena el formulario. Enviá tu propuesta, escribí tus comentarios de otras propuestas y hace de #{current_conference.name} la conferencia perfecta para vos.

%h3 Fechas importantes

%ul
  %li #{l(Ability::SESSION_BROADCASTING.to_date)}: Difusión de la llamada para presentar trabajos
  %li #{l(Ability::SESSION_OPEN_SUBMISSION.to_date)}: Apertura del formulario de propuestas
  %li #{l(Ability::SESSION_SUBMISSION_DEADLINE.to_date)}: Cierre del envío de propuestas - Lea las reglas de presentación
  %li #{l(Ability::AUTHOR_NOTIFICATION_DEADLINE.to_date)}: Notificación a los autores seleccionados
  %li #{l(Ability::AUTHOR_CONFIRMATION_DEADLINE.to_date)}: Límite para confirmar la asistencia de los autores seleccionados
  %li
    %strong #{l(Ability::REGISTRATION_DEADLINE.to_date)}: Límite para la inscripción y el pago de las inscripciones

