- title "Trabalhos da #{current_conference.name}"
- show_actions!
.auto_focus

#{current_conference.description_pt.html_safe}

%p Submeta sua proposta de trabalho e venha se juntar a nós em #{current_conference.location}! Leia as #{link_to(t('title.guidelines'), static_page_path('guidelines'))}, elabore sua proposta e submeta. Para submeter, basta entrar com seu usuário e senha, clicar em '#{t('actions.submit_session')}' e preencher o formulário. Envie a sua, comente as propostas dos outros e faça da #{current_conference.name} a conferência perfeita para você.

%h3 Datas importantes

%ul
  %li #{l(Ability::SESSION_BROADCASTING.to_date)}: Divulgação da chamada de trabalhos
  %li #{l(Ability::SESSION_OPEN_SUBMISSION.to_date)}: Abertura do formulário de submissão de propostas
  %li
    %strong #{l(Ability::SESSION_SUBMISSION_DEADLINE.to_date)}: Submissão de propostas - Leia as regras de submissao
  %li #{l(Ability::AUTHOR_NOTIFICATION_DEADLINE.to_date)}: Notificação aos autores selecionados
  %li #{l(Ability::AUTHOR_CONFIRMATION_DEADLINE.to_date)}: Limite para confirmação das palestras dos autores selecionados
  %li #{l(Ability::REGISTRATION_DEADLINE.to_date)}: Limite para inscrição pelo site e pagamento das inscrições

