- title "Invitación para ser parte del comité de evaluación de #{AppConfig[:conference_name]}"
.auto_focus

%p Estimado #{@reviewer.user.full_name},

%p Gracias por considerar ser parte del comité de evaluación de #{AppConfig[:conference_name]}. Para confirmar su participación, por favor escoja los tracks en los que Ud. se sentría cómodo evaluando, como también indicar su nivel de conocimiento en cada track seleccionado:

- content_for :agreement do
  %h3 TÉRMINOS DEL ACUERDO COMO REVISOR DE ÁGILES 2012

  %p 
  Para confirmar su participación y compromisos como REVISOR de las propuestas enviadas al 
  track Industrial de #{AppConfig[:conference_name]}, Ud. debe estar de acuerdo con los siguientes términos:
  %ol
    %li 
    Como miembro del Comité Revisor, contribuiré a la selección de un programa de alto nivel 
    técnico con el objetivo de transformar #{AppConfig[:conference_name]} en un evento de referencia internacional 
    sobre metodologías ágiles;	  
    %li 
    Como revisor, analizaré críticamente e imparcialmente las propuestas enviadas al track Industrial, 
    siguiendo los lineamientos definidos por el Comité de Programa del evento;
    %li 
    Como revisor, seguiré las orientaciones del Comité de Programa durante la ejecución de esta actividad, 
    tratando de lograr las metas y objetivos (calendarización y calidad de revisiones) presentadas por el 
    sistema de revisiones;
    %li 
    Como revisor, no anunciaré los resultados de las revisiones hasta que sean publicados por el Comité de Programa;
    %li 
    Como revisor, me comprometo a rechazar la revisión de trabajos que coincidan con intereses personales, 
    tales como mis propios envíos o aquellos de mis clientes, cercanos, amigos y socios personales; 
    o incluso aquellos trabajos muy similares a aquellos que yo he enviado;
    %li 
    Como revisor, cumpliré con los requerimientos de los Organizadores del Track con el objetivo de asegurar 
    una buena distribución de trabajo y el flujo del procesos de revisión de propuestas;
    %li 
    Como revisor, solicitaré información adicional y aclaraciones a los respectivos autores de cada propuesta 
    con el objetivo de evitar injusticias y contribuir al aseguramiento de la calidad del programa;
    %li 
    Como miembro de Comité Revisor, estoy consciente que la selección final de las propuestas que formarán el programa de 
    #{AppConfig[:conference_name]} serán realizada por el Comité Revisor basado en los criterios y revisiones provistas por los revisores;
    %li 
    Como miembro del Comité Revisor, estoy consciente de que este trabajo es voluntario y no trabajo remunerado, 
    no estando permitido cargar algún costo a la organización de #{AppConfig[:conference_name]}.
    %li 
    Si hubiese algún impedimento para lograr mis metas, comunicaré de inmediato a los Coordinadores de Programa 
    la necesidad de mi reemplazo y de transferir mis responsabilidades.
  %p 
    Y, reconociendo que el Equipo Organizador de #{AppConfig[:conference_name]} me provee de completa confianza en un comportamiento 
    ético y profesional en el proceso de selección de las propuestas enviadas a la conferencia, estoy consciente 
    de las consecuencias posibles de actitudes que puedan entrar en conflicto con las responsabilidades que estoy 
    asumiendo al aceptar los términos de este documento.
    
= render 'accept_reviewers/form'