%p Hola #{h(@user.full_name)},

%p Hemos recibido una solicitud para modificar tu contraseña. En el caso de que no hayas realizado este pedido, simplemente ignora este e-mail. Si solicitaste la recuperación de tu contraseña, haz click en el link siguiente:

%p= link_to edit_password_url(@user, :reset_password_token => @user.reset_password_token, :locale => 'es'), edit_password_url(@user, :reset_password_token => @user.reset_password_token, :locale => 'es')

%p Si la URL anterior no funciona, debes copiarla y pegarla en tu navegador.

%p Luego de modificar tu contraseña, podrás acceder a #{link_to root_url, root_url} nuevamente utilizando:

%ul
  %li <strong>Nombre de usuario</strong>: #{h(@user.username)}

%p Si continúas con problemas, por favor ponte en contato con nosotros a través del e-mail #{link_to "agiles2012-program@agiles.org", "mailto:agiles2012-program@agiles.org"}.

%p Muchas gracias,

%p El equipo de programa de #{@conference_name}

%small [Por favor no respondas este e-mail. Fue enviado desde una casilla no monitoreada]