Hola #{@user.full_name},


Recibimos una solicitud para modificar tu contraseña. En el caso de que no hayas realizado este pedido, simplemente ignora este e-mail. Si solicitaste la recuperación de tu contraseña, haz click en el link siguiente:


= edit_password_reset_url(@user.perishable_token, :locale => 'es')


Si la URL anterior no funciona, deberás copiarla y pegarla en tu navegador.


Luego de modificar tu contraseña, podrás acceder a #{root_url} nuevamente utilizando:


* Nombre de usuario: #{@user.username}


Si continúas con problemas, por favor ponte en contacto con nosotros a través del e-mail agiles2011-program@agiles.org.


Muchas gracias,


El equipo de programa de #{AppConfig[:conference_name]}


[Por favor no respondas este e-mail. Fue enviado desde una casilla no monitoreada]