%p Hola #{h(@user.full_name)},

%p Recibimos una solicitud para modificar su contraseña. En el caso de que Ud. no haya realizado este pedido, simplemente ignore este e-mail. Si Ud. solicitó la recuperación de la contraseña, haga click en el link siguiente:

%p= link_to edit_password_reset_url(@user.perishable_token, :locale => 'es'), edit_password_reset_url(@user.perishable_token, :locale => 'es')

%p Si la URL anterior no funciona deberá copiarla y pegarla en su navegador.

%p Luego de modificar su contraseña, Ud. podrá acceder a #{link_to root_url, root_url} nuevamente utilizando:

%ul
  %li <strong>Nombre de usuario</strong>: #{h(@user.username)}

%p Si continúa con problemas, por favor entre en contato con nosotros a través del e-mail #{link_to "agiles2011-program@agiles.org", "mailto:agiles2011-program@agiles.org"}.

%p Muchas gracias,

%p El equipo de programa de #{AppConfig[:conference_name]}

%small [Por favor no responda este e-mail. Fue enviado desde una casilla no monitoreada]