Dear #{@session.authors.map(&:full_name).join(" & ")},


We are pleased to inform you that your proposal '#{h(@session.title)}' has been selected to be part of the program of #{AppConfig[:conference_name]}!


We would like to ask you to confirm your attendance at the event by #{l(ImportantDates::AUTHORS_INSCRIPTION_END_DATETIME)} by accessing the form at

= session_confirm_url(@session, :locale => 'en')


If you can not attend the event, we kindly ask you to confirm your withdrawal using the form at

= session_withdraw_url(@session, :locale => 'en')


Only the first author of the session (#{@session.author.full_name}) can confirm or withdraw the attendance.


If you fail to confirm your attendance before the date indicated above, we will be forced to remove your proposal and replace it with another selected session.


Once the attendance or withdraw has been confirmed for the event, you can refer to the comments and suggestions made by the evaluators accessing:

= session_reviews_url(@session, :locale => 'en')


ATTENTION: AS A SPEAKER OF #{AppConfig[:conference_name]} YOU ARE ENTITLED FOR FREE CONFERENCE REGISTRATION!

Once your attendance has been confirmed, you can use this promotion code #{AppConfig[:speaker_promotion_code]} at the registration system.


We will soon be sending more instructions to the speakers. Should you have any queries, requests or comments, please contact the Program Committee at agiles2011-program@agiles.org.


We hope to see you soon!

#{"--"}

Program Committee of #{AppConfig[:conference_name]} Conference


[Please do not reply to this e-mail. It was sent from an unmonitored email address]
