Caro#{@session.authors.size > 1 ? "s":""} #{@session.authors.map(&:full_name).join(" & ")},


Infelizmente, sua proposta '#{h(@session.title)}' não foi selecionada para integrar o programa do #{AppConfig[:conference_name]}.


Recebemos um monte de propostas muito interessantes este ano. Infelizmente, isso significa que muitas boas propostas não puderam ser aceitas devido à falta de espaço. Você pode ver o feedback sobre sua proposta fornecido pelos avaliadores e pelos organizadores de trilha acessando o endereço:

= session_reviews_url(@session, :locale => 'pt')

Esperamos que você decida participar deste evento e possibilidade de propor esta sessão durante o dia Open Space na conferência.

Se você tiver qualquer dúvida, comentário ou sugestão, não hesite em entrar em contato com a Comissão de Programa através do email agiles2011-program@agiles.org.


Muito obrigado pela sua proposta. Esperamos que você#{@session.authors.size > 1 ? "s":""} participe#{@session.authors.size > 1 ? "m":""} da conferência este ano e traga#{@session.authors.size > 1 ? "m":""} novas propostas para o próximo ano.


Atenciosamente,

#{"--"}

Comissão de Programa da #{AppConfig[:conference_name]}


[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
