Hola #{h(@session.authors.map(&:full_name).join(" & "))},

Lamentamos informarte que tu propuesta '#{h(@session.title)}' no ha sido seleccionada para formar parte del programa de #{AppConfig[:conference_name]}.

Hemos recibido muchas propuestas muy interesantes este año. Lamentablemente, esto significa que muchas buenas propuestas no pudieron ser incluidas en el programa debido a la falta de espacio. Puedes ver los comentarios que tu propuesta ha recibido de parte de los revisores y organizadores en:

= link_to session_reviews_url(@session, :locale => 'es'), session_reviews_url(@session, :locale => 'es')

Esperamos que decidas participar de este evento y consideres proponer esta sesión durante el día de Open Space de la conferencia.

Si tienes cualquier pregunta, solicitud o comentario, no dudes en ponerte en contacto con el Comité del Programa a través de 'agiles2012-program@agiles.org'.

Muchas gracias por acercarnos tu propuesta. Esperamos verte en la conferencia de este año y que presentes nuevas propuestas para el próximo año.


Atentamente,

= "--"

Comité de Programa de #{AppConfig[:conference_name]}

[Por favor no respondas a este e-mail. Fue enviado desde una casilla no monitoreada]
