%p Caro #{h(@speaker.full_name)},

%p
  Como um dos palestrantes selecionados para apresentar uma sessão, você pode se cadastrar gratuitamente, acessando a:
  = link_to @registration_url

%p Seu código de registro é <strong>'#{@speaker_code}'</strong>

%p
  Esperamos vê-lo em breve!
  %br
  = "--"
  %br
  Comissão de Programa do #{@conference_name}

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]