Caro #{@speaker.full_name},

Como um dos palestrantes selecionados para apresentar uma sessão, você pode se cadastrar gratuitamente, acessando a:
= @registration_url

Seu código de registro é <strong>'#{@speaker_code}'</strong>

Esperamos vê-lo em breve!
#{"--"}
Comissão de Programa do #{@conference_name}

[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]