Hola #{h(@attendee.full_name)},

Por ser uno de los autores seleccionados para presentar una sesión en #{@conference_name} puedes registrarte gratuitamente a la conferencia accediendo a:
  = @registration_url

Tu código de registración es <strong>'#{@speaker_code}'</strong>

Esperamos verte pronto!
--
Comité de Programa de #{@conference_name}

[Por favor no respondas a este e-mail. Fue enviado desde una casilla no monitoreada]
