Hola #{@user.full_name},


Usted acaba de registrarse en el sistema de presentación #{AppConfig[:conference_name]}. Para presentar una propuesta de sesión, sólo tiene que ingresar a #{root_url} y hacer login utilizando:

* Nombre de usuario: #{@user.username}

Vamos a utilizar este e-mail de contacto con respecto a sus presentaciones. En caso de duda, crítica o sugerencia, por favor contáctenos a través de agiles2011-program@agiles.org por e-mail

Muchas gracias,

Equipo de programa de #{AppConfig[:conference_name]}

[Se ruega no responda a este correo electrónico. Fue enviado a través de una dirección que no es monitoreada]
