Hola #{h(@user.full_name)},

Acabas de registrarte en el sistema de presentación de trabajos para #{AppConfig[:conference_name]}. Para presentar una propuesta de sesión, sólo tienes que ingresar a #{link_to root_url, root_url} y hacer login utilizando:

* Nombre de usuario: #{h(@user.username)}

Vamos a utilizar este e-mail de contacto con respecto a tus presentaciones. En caso de duda, crítica o sugerencia, por favor contáctanos por e-mail a través de 'agiles2012-program@agiles.org'.

Muchas gracias,

Comité de Programa de #{AppConfig[:conference_name]}

[Por favor no respondas a este correo electrónico. Fue enviado a través de una dirección que no es monitoreada]
