- title "Confirmación de asistencia a Ágiles 2011"
.auto_focus

%p Hola #{current_user.full_name},

%p Estamos muy satisfechos de notificarle que su propuesta "#{@session.title}" fue selecionada para integrar el programa de la Conferencia Latinoamericana sobre Metodologías Ágiles – Ágiles 2011! 
%p Para confirmar su participación en el evento, necesitará realizar las modificaciones sugeridas por los organizadores (si hubiera), luego leer y firmar los términos de compromiso presentados abajo.

%p#review_decision
  %strong #{t('formtastic.labels.review_decision.note_to_authors')}:
  %br
  = @session.review_decision.note_to_authors

- content_for :agreement do
  %h3 TÉRMINOS DE COMPROMISSO COMO AUTOR - ÁGILES 2011
  Al aceptar estos términos, declaro:
  %br
  (1) Estar apto para realizar mi presentación en Ágiles 2011, en la fecha y locación definidos por la organización
  del evento, con el compromiso de garantizar la alta calidad del evento;
  %br
  (2) Conocer que debo notificar inmediatamente a la organización de Ágiles 2011 en el caso de que algún evento de
  fuerza mayor impida mi participación en la conferencia, permitiendo así mi rápida sustitución o la resolución del
  problema;
  %br
  (3) Ceder a la organización de Ágiles 2011 el derecho de uso de mi imagen para fines no comerciales, no políticos y no
  religiosos (tanto en foto como en video), en actividades estrictamente relacionadas con la conferencia y sin la reproducción
  del contenido intelectual registrado sim mi consentimiento;
  %br
  (4) Que todo el contenido de la presentación es de mi entera responsabilidad civil e intelectual, siendo responsable legal
  ante cualquier acto realizado durante su presentación en la conferencia.

= render 'confirm_sessions/form'