- title "Trabalhos da #{AppConfig[:conference_name]}"
- show_actions!
.auto_focus

%p #{link_to("#{AppConfig[:conference_name]}", "http://agiles2012.agiles.org/")} Quarta Conferência Latino-americana sobre Metodologias Ágeis. O evento que reuniu profissionais entusiasmados com com desenvolvimento de software nos últimos três anos. Serão dias em que aprender, ensinar, fazer contatos e conhecer outras pessoas será a norma.

%h3 Datas importantes

%ul
  %li #{l(ImportantDates::SUBMISSION_START_DATE)}: Abertura do formulário de submissão de propostas
  %li #{l(ImportantDates::SUBMISSION_END_DATE)}: Submissão de propostas
  %li
    %strong #{l(ImportantDates::ACCEPTANCE_NOTIFICATION_DATE)}: Notificação aos autores selecionados
  %li #{l(ImportantDates::AUTHORS_INSCRIPTION_END_DATE)}: Limite para inscrição no evento dos autores selecionados