- title "Trabajos de #{AppConfig[:conference_name]}"
- show_actions!
.auto_focus

%p #{link_to("#{AppConfig[:conference_name]}", "http://agiles2011.agiles.org/")} 4tas Jornadas Latinoamericanas de Metodologías Ágiles. Es el evento Latinoamericano que nuclea desde hace cuatro años a profesionales principalmente relacionados con el desarrollo de software. Serán jornadas donde aprender, enseñar, relacionarse y conocerse serán moneda corriente. 

%h3 Fechas importantes

%ul
  %li #{l(ImportantDates::SUBMISSION_START_DATE)}: Apertura del formulario de envío de propuestas
  %li #{l(ImportantDates::SUBMISSION_END_DATE)}: Fecha límite para proponer sesiones
  %li
    %strong #{l(ImportantDates::ACCEPTANCE_NOTIFICATION_DATE)}: Notificación de aceptación a autores seleccionados
  %li #{l(ImportantDates::AUTHORS_INSCRIPTION_END_DATE)}: Fecha límite para la inscripción de los autores seleccionados