- title "Trabalhos da Ágiles 2011"
- show_actions!
.auto_focus

%p #{link_to("Ágiles 2011", "http://agiles2011.agiles.org/")} Quarta Conferência Latino-americana sobre Metodologias Ágeis. O evento que reuniu profissionais entusiasmados com com desenvolvimento de software nos últimos três anos. Serão dias em que aprender, ensinar, fazer contatos e conhecer outras pessoas será a norma.

%h3 Datas importantes

%ul
  %li #{l(Date.new(2010, 1, 31))}: Abertura do formulário de submissão de propostas
  %li #{l(Date.new(2010, 3, 7))}: Submissão de propostas
  %li #{l(Date.new(2010, 5, 3))}: Notificação aos autores selecionados
  %li
    %strong 
      #{l(Date.new(2010, 5, 17))}: Limite para inscrição no evento dos autores selecionados