- title "Sessions proposed to #{AppConfig[:conference_name]}"
- show_actions!
.auto_focus

%p #{link_to("#{AppConfig[:conference_name]}", "http://agiles2012.agiles.org/")} 4th Latin American Conference on Agile Methodologies. The event that has gathered enthusiastic professionals mostly related to software development for over three years. These will be days where learning, teaching, networking and meeting others will be the norm.

%h3 Important dates

%ul
  %li #{l(ImportantDates::SUBMISSION_START_DATE)}: Release of proposal submission form
  %li #{l(ImportantDates::SUBMISSION_END_DATE)}: Submission deadline
  %li
    %strong #{l(ImportantDates::ACCEPTANCE_NOTIFICATION_DATE)}: Acceptance notification
  %li #{l(ImportantDates::AUTHORS_INSCRIPTION_END_DATE)}: Inscription deadline to selected authors