- title "Trabajos de #{AppConfig[:conference_name]}"
- show_actions!
.auto_focus

%p #{link_to("#{AppConfig[:conference_name]}", "http://agiles2011.agiles.org/")} 4tas Jornadas Latinoamericanas de Metodologías Ágiles. Es el evento Latinoamericano que nuclea entusiastas profesionales principalmente relacionados con el desarrollo de software desde hace más de tres años. Serán jornadas donde aprender, enseñar, relacionarse y conocerse serán moneda corriente. 

%h3 Fechas importantes

%ul
  %li #{l(Date.new(2010, 1, 31))}: Apertura del formulario para el envío de propuestas
  %li #{l(Date.new(2010, 3, 7))}: Fecha de cierre para el envío de propuestas
  %li #{l(Date.new(2010, 5, 3))}: Notificación a los autores seleccionados
  %li
    %strong 
      #{l(Date.new(2010, 5, 17))}: Límite para inscripción al evento de los autores seleccionados