.navbar
  .navbar-inner
    %ul.nav
      = link_to_menu_item(:li, t('title.home'), root_path)
      %li.divider-vertical
      = link_to_menu_item(:li, t('title.guidelines'), static_page_path('guidelines'))
      %li.divider-vertical
      = link_to_menu_item(:li, t('title.tracks'), tracks_path)
      %li.divider-vertical
      = link_to_menu_item(:li, t('title.session_types'), session_types_path)
      %li.divider-vertical
      = link_to_menu_item(:li, t('title.audience_levels'), audience_levels_path)
      %li.divider-vertical
      %li         
        %a{"data-toggle" => "modal", :href => "#myModal", :role => "button"} 
          %i.icon-user 
          Ingresar